# environment files typically containing secrets
*.env
!example.env

# directories created by developer tools
.idea/

# dependency directories
node_modules/
vendor/
.terraform/

# tfc-dump creates .json files that don't belong in version control
*.json
*.env
*.aes
dockercfg
